.ant-table-wrapper .ant-table {
  background: none;
}

.ant-table-row:hover {
  background-color: transparent;
  background: none;
}

.ant-table-cell {
  background: none !important;
  color:white
}
.ant-table-tbody {
  background-color: #3b7d39;
  font-size: 17px;
}
.ant-table-thead {
  background-color: #126416;
  font-size: 17px;
}
.ant-table-wrapper .ant-table-thead >tr>th{
  color: white;
}
.table {
  margin-top: 15px;
}