.Competitions{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 30px;
  width: 70%;
  margin: auto;
  

}
 
 
 /* .ligi {
    text-align: center;
    text-decoration: none;
      }
  .ligiHight {
    padding: 50px 100px;
    display: flex;
    gap: 200px;
    flex-wrap: wrap;
    justify-content: center;
      }
.ligis {
    flex-wrap: wrap;
    display: flex;
    gap: 200px;
    justify-content: center;
    padding: 20px 50px;
   }
.link {
    width: 250px;
    height: 280px;
} */