.header {	padding: 5px 60px;
    background: #2a9932;
    color:black;
    display: flex;
    flex-direction: column;
}

.headerMain {
    display: flex;
    gap: 100px;
    flex-wrap: nowrap;
    align-items: center;
}
.ligaButton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
}
.temButton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
}
.logo {
    width: 150px;
    height: 150px;
    margin-top: 10px;
    
}
.iconlink {
    width: 90px;
    height: 90px;
}

.form {
    margin-top: 10px;
    
  	}
    

